/* You're welcome to change any of this! */

@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: Roboto Slab, serif;
}
header, section {
    padding: 20px;
}
p, li {
    line-height: 1.5em;
}

#inspiration {
    background-color: #b1e9c8;
    padding-top: 40px;
    padding-bottom: 40px;
}